<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Animations</title>
   
    <link rel="stylesheet" href="css/styleCarrousel.css"> 
    <script src="https://kit.fontawesome.com/4ba71f1450.js" crossorigin="anonymous"></script>
</head>
<body>
 
    <h1 style="color:rgb(64, 224, 85);margin-left:40px; margin-top:10px; position:absolute;"> JEUX VIDEO {{console}} <i class="far fa-caret-square-right"></i><i class="fas fa-video"></i> </h1>
    <div id="app" data-page="0" class="tailleCarrousel">
        <div class="sliders ">
            <div class="slide-left">
                &laquo;
            </div>
            <div class="slide-right">
                &raquo;
            </div>
        </div>
        <div class="row">
            <div class="image">
                <h1 style="color:rgb(238, 255, 0);">JEUX DE PLATEFORME </h1>
                <div class="box" onclick="document.location='/carrousel_secondaire?type=plateform&console={{this.console}}' ">
                    <img src="images/imagesAtari/atariImagePlateformeDigDug2.jpg" >
                    
                </div>
                
            </div>
            <div class="image">
                <h1 style="color:yellow;">JEUX DE COMBAT <i class="far fa-caret-square-right"></i> </h1>
                <div class="box" onclick="document.location='/carrousel_secondaire?type=combat&console={{this.console}}' ">    
                    <img src="images/imagesAtari/atariImageCombatCommando-Raid2.jpg">
                </div>
            </div>
            <div class="image">
                <h1 style="color:yellow;">JEUX D'AVENTURE </h1>
                <div class="box" onclick="document.location='/carrousel_secondaire?type=adventure&console={{this.console}}' ">
                    <img src="images/imagesAtari/atariImageSportRealSportTennis1.jpg" >
                </div>
            </div>
            <div class="image">
                <h1 style="color:yellow;">JEUX DE SPORT </h1>
                <div class="box" onclick="document.location='/carrousel_secondaire?type=sport&console={{this.console}}' ">
                    <img src="images/imagesAtari/atariImageSportInternationalSoccer2.jpg" >
                </div>
            </div>
            <div class="image">
                <h1 style="color:yellow;">JEUX DE REFLEXION</h1>
                <div class="box" onclick="document.location='/carrousel_secondaire?type=reflexion&console={{this.console}}' ">
                    <img src="images/imagesAtari/atariImagePlateformeHero4.jpg" >
                </div>
            </div>
            <div class="image">
                <div class="box" onclick="document.location='/carrousel_secondaire?type=shootemup&console={{this.console}}' ">
                    <img src="images/imagesAtari/atariImagePlateformeDonkey-Kong1.jpg" >
                </div>
            
            
           
        </div >
        
        
    </div>
<a href="/"><h1 style="color:rgb(64, 224, 85); margin-left:150px; margin-top:40px ; position:absolute; margin-top:100px;">  RETOUR à l'acceuil...<i class="fas fa-arrow-down"></i> </h1></a>
    <script src="javascript/javascriptCarrousel.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>