  <div class="container mx-auto ">
 
      <h4 class=" text-center mx-auto bg-dark text-light rounded-circle w-25  "> VOS PUBLICATIONS </h4>
 </div>


<div class="container">
     <div class="row">
         

{{#each ideas}}

          <div class="col-3">
               <div class="card mb-2">
                    <img src="/images/imagesAtari/atariImagePlateformeDigDug2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">{{title}}</h5>
                         <p class="card-text">{{details}}</p>
                         <a href="/ideas/{{_id}}" class="btn btn-primary">Lire la suite</a>
                              <a href="/ideas/edit/{{id}}" class="btn btn-secondary  btn-sm " >Editez</a>
                              
                              <form method="POST" action="/ideas/{{id}}?_method=DELETE">
                                   
                                   <input type="hidden" name="_method" value="DELETE">
                                   <input type="submit" class="btn btn-danger btn-sm" value="supprimez">
                                   <a type="button" class="btn btn-secondary btn-sm" href="/">Quitter</a>
                              </form>
                    </div>
               </div>
          </div>
     

{{else}}

     <p>Aucun articles publiés </p>

{{/each}}
</div>
</div>